.chart-section{
   
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.chart-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    background-color: #1d006e;
    width: 100%;
}

.left-div{
justify-content: center;
padding: 2rem;
}

.right-div{

   border-left: 2px solid rgba(101, 91, 255, 0.603);
   display:flex;
   flex-direction: column;
   padding: 2rem;
   justify-content:space-between;

}

.right-info{
    border-left: 2px solid rgba(101, 91, 255, 0.603);
    padding: 1rem;
}

.right-div-separator{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}